html,body {
    height: 100%;
    margin: 0;
}
body {
    background: linear-gradient(
        20deg, #def3ff, rgb(255, 255, 255), #f0feff
    );
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vh;
    margin: 0;
    background-size: cover;
    gap: 10px;
}
.showkun {
    font-size: 25px;
    margin-left: 10px;

}
.listt {
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 100vw;
    margin: 0;
    display: flex;
}
.list {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    list-style: none;
    display: inline-flex;
    gap: 70px;
    margin-left: 20px;
    margin-top: 40px;
}
.proflie {
    display: flex;
    text-align: left;
    gap: 40px;
}
.self {
    background-color: rgb(241, 255, 255);
    width: 350px;
    height: 170px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 12%;
    border: 3px solid ;
}
.selftext {
    margin: 10px;
}
.textskill {
    font-size: 20px;
    display: flex;
    gap: 60px;
    margin: 10px;
}

.lang {
    margin-top: 10px;
    border: none;
}
.startier {
    display: flex;
    line-height: 40px;
    
}
.starpython,.starhtml,.starcss,.starjavascript,.starcpusspuss {
    list-style: none;
}
.starpython {
    margin-left: 140px;
}
.starhtml {
    margin-left: 65px;
}
.starcss{
    margin-left: 80px;
}
.starjavascript {
    margin-left: 80px;
}
.starcpusspuss {
    margin-left: 100px ;
}


.imgstar {
    width: 50px;
    height: 100%;
}
@media (max-width: 768px) {
    body {
        min-height: 100%;
        transform: scale(0.5);
    }
}